<%= simple_form_for [@article, Comment.new] do |f| %>

<div class="booyah-box-comments col-xs-10 col-xs-offset-1">
 <%= f.text_field :content, placeholder: "Comment...",  required: true %>
 <%= f.label :author_name, "Your Name"  %>
 <%= f.text_field :author_name %>
 <%= f.submit "Comment", class: "btn btn-primary" %>

</div>
<% end %>